.sortable{ 
list-style-type: none;
 margin: 0;
 padding: 0; 
 margin-bottom: 10px;
 min-height:100px;
 padding:5px 0;
 }
 .customizer_layout {
  background-color:#ccc;
 }
 .sortable li {
 margin: 5px;
 padding: 5px;
 width: 215px; 
 background-color:#fff;
 border:1px solid #000;
 text-align:center;
 }
 
#customize-control-hc_pro_options-hc_back_image input, #customize-control-rambo_pro_theme_options-rambopro_stylesheet input, 
#customize-control-hc_pro_options-front_page_data, #customize-control-rambo_pro_theme_options-layout_textbox_disable, #customize-control-rambo_pro_theme_options-front_page_data input, #customize-control-rambo_pro_theme_options-front_page_data label
 { display:none !important;}
 
 #customize-control-quality_pro_options-back_image label img
 { border:2px solid #ccc;}
 
 .color_scheem_active{
	border: 1px solid #000 !important;
    border-radius: 2px;
 }
 .background_active{
	border: 1px solid #f1c40f !important;
    border-radius: 2px;
 }
 

.button.button-blue-secondary {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

 .button.button-blue-secondary:focus, .button.button-blue-secondary:hover {
    background: #0073aa;
    border-color: #006799;
	vertical-align: top;
	color:#fff;
	 text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}