/*
* Author: Rambo Theme
* Created by: Shahid (Scientech IT)
* Copyright (c) 2013 Rambo
* Date: November, 2013
* http://www.webriti.com/demo/wp/rambo
*/


/*Background Colors*/
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover, 
.features_tabs > .active > a, 
.features_tabs  > .active > a:hover, 
.features_tabs  > .active > a:focus, 
.portfolio_tabs li a:hover , .portfolio_tabs li.active { background-color: #ff4c2f !important; }

.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus, 
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle, .navbar .btn-navbar:hover, .navbar .btn-navbar:focus,
.navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled], 
.dropup, .slide-btn, a.featured_port_projects_btn, .purchase_main_content, .purchase_now_btn, 
.Search_btn, .Search_btn, .search-btn, .read_more, .sign_up, .newsletter_btn, a.aboutus_readmore, a.blog_section_readmore, 
a.blog_section2_readmore, .more-link, .comment_btn, #comment_btn, .button_red, .shortcode_btn,
.portfolio_showcase .portfolio_showcase_icons a, .portfolio_tabs li.active > a, .pagination ul li a.active, 
.pagination > ul > li > a:hover, #panel-admin p a.onclick_default, #wp-calendar caption, .onclick_default, 
.callout_now_btn, .wpcf7-submit, .post-password-form input[type="submit"] { background-color: #ff4c2f; }

.navbar .btn-navbar {
    background-color: #ff4c2f;
    background-image: -moz-linear-gradient(top, #ff4c2f, #ff4c2f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff4c2f), to(#ff4c2f));
	background-image: -webkit-linear-gradient(top, #ff4c2f, #ff4c2f);
	background-image: -o-linear-gradient(top, #ff4c2f, #ff4c2f);
	background-image: linear-gradient(to bottom, #ff4c2f, #ff4c2f);
}
.short_tabs > .active > a, .short_tabs > .active > a:hover, .short_tabs > .active > a:focus {
	background-color: #ff4c2f !important;
	background-image: -moz-linear-gradient(top, #ff4c2f, #ff4c2f) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff4c2f), to(#ff4c2f)) !important;
	background-image: -webkit-linear-gradient(top, #ff4c2f, #ff4c2f) !important;
	background-image: -o-linear-gradient(top, #ff4c2f, #ff4c2f)!important;
	background-image: linear-gradient(to bottom, #ff4c2f, #ff4c2f) !important; 
}

/*Text Colors*/
a, .logo-title, .home_service_btn:hover, .purchase_now_content .purchase_now_btn:hover, .team_section h4 a, .reply a, .leave_comment_section label span, .latest_news_comment a:hover, .sidebar_widget .usefull_link a:hover, .para_tooltip a, .para_tooltip a:hover, p.text_error, .shortcode_coloumn label span, a.continue_readmore, .testimonial_author span, .pagination ul > li > a, .pagination ul > li > span, .pager li > a, .pager li > span, .widget_archive ul li a i, .widget_categories ul li a i, .sidebar_widget ul li a i, .sidebar_link a:hover, .sidebar_link a.active, .top-header-widget li > a:hover, .top-header-widget li > a:focus { 
	color: #ff4c2f; 
}
.blog_section2_comment a:hover, .sidebar_widget ul li a:hover { color: #ff4c2f !important; }

/*Border Colors*/
.dropdown-submenu > a:after, .dropdown-submenu:hover > a:after { border-left-color: #ff4c2f !important; }
.open .dropdown-menu { border-top:2px #ff4c2f solid !important; border-bottom:2px #ff4c2f solid !important; }
.navbar .nav > li > a .caret { border-top: 4px solid #ff4c2f; }

.head_title h3, .team_head_title h3, .latest_news_title h3, .blog_single_post_head_title h3,
.typography_head_title h3, .shortcode_head_title h3, .service_head_title h3, .porfolio_detail_title h3, .widget_title h2, 
.sidebar_widget_title h2, .grid_head_title h3 { border-bottom: 2px solid #ff4c2f; }

.blog_single_post  blockquote, .blog_section2 blockquote, .span6 blockquote, .typography_coloumn blockquote { border-left: 5px solid #ff4c2f; }
.portfolio_caption:hover { border-top: 5px solid #ff4c2f; }


/* Woocommerce Colors */

.woocommerce .star-rating span, .woocommerce-error:before, .woocommerce-info:before, .woocommerce-message:before { color: #ff4c2f !important; }
.woocommerce-error, .woocommerce-info, .woocommerce-message { border-top-color: #ff4c2f !important; }
.sidebar-widget .widget-title { border-bottom: 2px solid #ff4c2f !important; }
.woocommerce ul.products li.product:hover .onsale { border: 2px solid #ff4c2f; }
.woocommerce ul.products li.product:hover .onsale, 
.woocommerce ul.products li.product:hover .button, 
.woocommerce ul.products li.product:focus .button, 
.woocommerce div.product form.cart .button:hover, 
.woocommerce div.product form.cart .button:focus, 
.woocommerce div.product form.cart .button, 
.woocommerce a.button, 
.woocommerce a.button:hover, 
.woocommerce .cart input.button, 
.woocommerce input.button.alt, 
.woocommerce input.button, 
.woocommerce button.button, 
.woocommerce #respond input#submit, 
.woocommerce .cart input.button:hover, 
.woocommerce .cart input.button:focus, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:focus, 
.woocommerce input.button.alt:hover, 
.woocommerce input.button.alt:focus, 
.woocommerce input.button:hover, 
.woocommerce input.button:focus, 
.woocommerce button.button, 
.woocommerce button.button:hover, 
.woocommerce button.button:focus, 
.woocommerce #respond input#submit:hover, 
.woocommerce #respond input#submit:focus,  
.ui-slider-horizontal .ui-slider-range, 
.woocommerce-product-search input[type="submit"], 
.woocommerce .woocommerce-message a.button, 
.woocommerce .woocommerce-message a.button:hover, 
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span.current, 
.woocommerce button.button, 
.sidebar-widget .woocommerce a.button, 
.woocommerce #respond input#submit, 
.widget_shopping_cart_content .button .button, 
 .woocommerce a.button.alt, .owl-item .item .cart .add_to_cart_button:hover {
    background: #ff4c2f !important;
}

.search-box-outer a:hover, .search-box-outer a:hover {
    color: #ff4c2f;
}
.navbar .cart-header > a .cart-total {
    background: #ff4c2f;
}
.header-module .search-form input[type="submit"] {
    background-color: #ff4c2f;
}
#searchbar_fullscreen .close, #searchbar_fullscreen .btn {
    background-color: #ff4c2f;
}
.search-form input[type="submit"] {
    background-color: #ff4c2f !important;
    border: 1px solid #ff4c2f !important;
    background-color: #ff4c2f !important;
}
.navbar3.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar3.navbar .nav li.dropdown.active > .dropdown-toggle, .navbar3.navbar .nav li.dropdown.open.active > .dropdown-toggle, .navbar3.navbar .nav li.current-menu-item a {
    color: #ff4c2f;
    background-color: transparent;
}
.navbar3.navbar .nav > .active > a:after, .navbar3 .navbar-default .navbar-nav > li.active > a:after, .navbar3 ul li > a:hover:after {
    background: #ff4c2f;
}
.navbar3.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar3.navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar3.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: #ff4c2f;
    border-bottom-color: #ff4c2f;
}
.navbar3.navbar .nav > li > a:focus, .navbar3.navbar .nav > li > a:hover {
    color: #ff4c2f !important;
    background: transparent !important;
}
.services4 .service-post {
    background-color: #ff4c2f;
}
.services3 .service-box i {
    background-color: #ff4c2f;
}
.services3 .service-post:hover {
    background-color: #ff4c2f;
}
.services3 .service-post:hover .service-box i {
    background-color: #ffffff;
    color: #ff4c2f;
}
.services2 .service-post::before {
    background-color: #ff4c2f;
}
.services2 .service-box i {
    color: #ff4c2f;
}
.services1 .service-post .service-box i.fa, .services1 .service-post .service-box img  {
    background: #ff4c2f;
    box-shadow: #ff4c2f 0px 0px 0px 1px;
}
.services1 .service-post:hover .service-box i.fa {
    color: #ff4c2f;
}
.team4 .team-area .team-social li > a:hover {
    color: #ff4c2f;
}
.team4 .team-details h5 {
    color: #ff4c2f;
}
.testimonial3 .testmonial-area {
    border-left: 4px solid #ff4c2f;
}
.testimonial3 .testmonial-area:before {
    border-top: 25px solid #ff4c2f;
}
.hp5 .dropdown-menu{    border-top: 2px #ff4c2f solid !important;border-bottom: 2px #ff4c2f solid !important;}


@media (max-width: 1100px){
/*body .nav-collapse .nav > li > a:hover, body .nav-collapse .nav > li > a:focus, body .nav-collapse .dropdown-menu a:hover, body .nav-collapse .dropdown-menu a:focus {
    background-color: #ff4c2f;
} */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a{background-image: linear-gradient(to bottom, #ff4c2f, #ff4c2f) !important;}  
}
.services3 .service-box.img img{background-color: #ff4c2f !important;}
#searchbar_fullscreen .btn{background-image: linear-gradient(to bottom, #ff4c2f, #ff4c2f) !important;}
.team3 .team-details h5{color: #ff4c2f;}
.team2 h5{color: #ff4c2f;}
.navbar1 .navbar-inner {background: #ff4c2f;}
body.header-preset5 .navbar .cart-header > a .cart-total {background: #fff;color: #ff4c2f;}
.team1 h5{color: #ff4c2f;}
.team1 p.text-center, .team4 p.text-center, .team3 p.text-center{margin-top: 5px;}
a.home-news-var1:hover{color: #ff4c2f;}

@media (max-width: 1100px){
.header-preset3 .navbar .nav li.dropdown > a:hover .caret, .header-preset3 .navbar .nav li.dropdown > a:focus .caret {
    border-top-color: #ff4c2f;
    border-bottom-color: #ff4c2f;
}}
@media (min-width: 1200px){
    .header-preset3  .dropdown-submenu > a:before,.header-preset3 .dropdown-submenu:hover > a:before {
    border-left-color: #ff4c2f !important;
}}
.services3 .home_service h2,.services2 .home_service h2,.services1 .home_service h2{color: #ff4c2f ;}
.rotate-list-view a:hover, .rotate-list-view .blog_section h2 a:hover, .home-news-3 a:hover, .home-news-3 .blog_section h2 a:hover{color: #ff4c2f ;}
.page-template-blog-rightsidebar .blog_section2 h2 a:hover{color: #ff4c2f ;}
.tags_alignment .blog_tags a:hover{color: #ff4c2f ;}
.page-template-blog-left-sidebar .blog_section2 h2 a:hover{color: #ff4c2f ;}
.page-template-blog-fullwidth .blog_section2 h2 a:hover{color: #ff4c2f ;}
.page-template-blog-list-without-sidebar .media-body a:hover{color: #ff4c2f;}
.page-template-blog-grid-view .blog_section2 h2 a:hover{color: #ff4c2f;}
.portfolio_tabs_section .portfolio_tabs li .tab a.active{background-color:  #ff4c2f; color: #ffffff;}
body.header-preset3 .search-box-outer a:hover{color: #ff4c2f;}
body.header-preset3 .cart-header > a .cart-total{background-color: #ff4c2f;color: #ffffff;}
body.header-preset3 .navbar.menu-section.navbar3 .container{width: 1170px;}
h2.home-news-4 a:hover{color: #ff4c2f !important ;}